@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0 0;
  margin: 0 0;
  box-sizing: border-box;
  font-family: "spartan", sans-serif;
}

.shop .pip {
  margin: 20px 0;
  opacity: 0;
  animation: fade-in 0.6s 0.9s ease forwards;
}
.shop p {
  margin: 6vh 0;
  text-align: center;
}
.shop p span {
  border-radius: 7px;
  background-color: rgb(18, 140, 39);
  padding: 13px 16px;
  font-size: 20px;
  color: white;
  min-width: 30px;
  margin-right: 0.5vw;
  transition: opacity 0.3s ease;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.shop p span .arrow {
  top: 10px;
  font-size: 30px;
  transform: translateY(1.1vh);
}
.shop p span:hover {
  opacity: 0.65;
}
.shop p .spec {
  width: 40px;
}
.shop header {
  background: url("./img//banner/b1.jpg");
  background-size: cover;
  height: 40vh;
  text-align: center;
  z-index: 1;
  position: relative;
  color: white;
  padding-top: 8vh;
  animation: fade 0.6s ease forwards;
}
.shop header h1 {
  margin-top: 50px;
  margin-bottom: 1.5vh;
  opacity: 0;
  animation: fade 0.6s 0.6s forwards;
}
.shop .products {
  background-color: white;
  text-align: center;
  display: block;
  margin-top: 7vh;
  margin-bottom: 7vh;
}
.shop .products h3 {
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 3vh;
}
.shop .products p {
  margin-bottom: 3vh;
}
.shop .products .clothes {
  width: 100vw;
  display: flex;
  background-color: white;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}
.shop .products .clothes div {
  border: 1px solid rgb(230, 227, 227);
  border-radius: 20px;
  width: 20vw;
  min-width: 220px;
  position: relative;
  padding-bottom: 2vh;
  transition: box-shadow 0.3s ease-in-out;
}
.shop .products .clothes div img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 2vh;
  width: 17vw;
  height: 33vh;
  min-width: 190px;
  border-radius: 15px;
}
.shop .products .clothes div .adidas {
  text-align: left;
  color: grey;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: small;
}
.shop .products .clothes div .price {
  display: block;
  text-align: left;
  padding-left: 1.5vw;
  font-size: 16px;
  color: rgb(99, 186, 125);
  font-weight: 600;
}
.shop .products .clothes div .cart_me {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(147, 153, 141, 0.4);
  color: rgba(140, 199, 82, 0.9);
  cursor: pointer;
  bottom: 1.5vh;
  padding-top: 8px;
  right: 1.2vw;
}
.shop .products .clothes div .cart_me .MuiSvgIcon-root {
  pointer-events: none;
  text-align: center;
}
.shop .products .clothes div .cart_me:hover {
  background-color: rgb(49, 173, 49);
  color: rgb(228, 217, 217);
}
.shop .products .clothes div p {
  text-align: left;
  margin-top: 1vh;
  margin-left: 1.5vw;
  margin-bottom: 1.2vh;
  color: rgb(219, 134, 48);
}
.shop .products .clothes div h6 {
  text-align: left;
  padding-left: 1.5vw;
  font-size: 15px;
  font-weight: 700;
}
.shop .products .clothes div:hover {
  box-shadow: 5px 5px 8px 2px #888888;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .shop .products .clothes {
    flex-direction: column;
  }
  .shop .products .clothes div {
    width: 85vw;
    margin-left: 7.5vw;
  }
  .shop .products .clothes div img {
    width: 77vw;
    height: initial;
  }
  .shop .products .clothes div .cart_me {
    padding: 8px;
  }
}/*# sourceMappingURL=shop.css.map */